<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if error %}
<p>{{ error }}</p>
{% endif %}

<table>
    <thead>
    <tr>
        <td>Sender</td>
        <td>Receiver</td>
        <td>Document</td>
        <td>Created</td>
        <td>Modified</td>
        <td>Deleted</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ inventory.sender }}</td>
        <td>{{ inventory.receiver }}</td>
        <td>{{ inventory.document }}</td>
        <td>{{ inventory.created_at }}</td>
        <td>{{ inventory.updated_at }}</td>
        <td>{{ inventory.deleted_at }}</td>
        <td>
{#            <a href="{% url 'detail-inventory' inventory.id %}">detail</a>#}
            <a href="{% url 'update-inventory' inventory.id %}">update</a>
            <a href="{% url 'delete-inventory' inventory.id %}">delete</a>
        </td>
    </tr>

    </tbody>
</table>

</body>
</html>